<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,192},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>fxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,58}}</string>
                <key>sourceSize</key>
                <string>{349,58}</string>
            </dict>
            <key>fxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{110,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,37}}</string>
                <key>sourceSize</key>
                <string>{110,39}</string>
            </dict>
            <key>fxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,41},{138,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,72}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>fxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,118},{138,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,72}}</string>
                <key>sourceSize</key>
                <string>{138,72}</string>
            </dict>
            <key>fxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{223,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,99}}</string>
                <key>sourceSize</key>
                <string>{223,99}</string>
            </dict>
            <key>fxiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{342,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,54}}</string>
                <key>sourceSize</key>
                <string>{342,54}</string>
            </dict>
            <key>fxyli_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{142,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,33}}</string>
                <key>sourceSize</key>
                <string>{142,33}</string>
            </dict>
            <key>shuzi_1_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,181},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareScene.pvr.ccz</string>
            <key>size</key>
            <string>{470,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c52505a072219e20fc8605d2d096cf7a$</string>
            <key>textureFileName</key>
            <string>ShareScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
