<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,139},{119,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,134}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>pvp_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>pvp_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,137},{115,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,135}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>pvp_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,289},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>pvp_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,138}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>pvp_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>pvp_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{120,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,135}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>pvp_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>pvp_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,154},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>pvp_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,275},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>pvp_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{126,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Solo.pvr.ccz</string>
            <key>size</key>
            <string>{499,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd47f941a8f454ca65d386b36c35fb08$</string>
            <key>textureFileName</key>
            <string>Solo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
