<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{592,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,345}}</string>
                <key>sourceSize</key>
                <string>{592,345}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,487},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>gyong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,529},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>ico52.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,487},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tckang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,382}}</string>
                <key>sourceSize</key>
                <string>{553,382}</string>
            </dict>
            <key>tckang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,386},{190,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,99}}</string>
                <key>sourceSize</key>
                <string>{190,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>+Dialog.pvr.ccz</string>
            <key>size</key>
            <string>{557,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a11ff8855c3fc9774b5cd65390d9eb8f$</string>
            <key>textureFileName</key>
            <string>+Dialog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
