<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xxi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{197,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>xxi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,140},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{87,88}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xxi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,79}}</string>
                <key>sourceSize</key>
                <string>{152,79}</string>
            </dict>
            <key>xxi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PvPScene_3.pvr.ccz</string>
            <key>size</key>
            <string>{201,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97f9a725d2fb7fd01360d5bdcd2d6c50:6fc4766a0803bada2833fb0f11df1812:3c5addf2c4f1543fb5052cdc861116ca$</string>
            <key>textureFileName</key>
            <string>PvPScene_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
