<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{119,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,134}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>ico65.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,813},{100,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>ico69.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,893},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,395},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>jfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,605},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>ksu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,648},{163,92}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,33},{163,92}}</string>
                <key>sourceSize</key>
                <string>{231,144}</string>
            </dict>
            <key>ksu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{231,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,144}}</string>
                <key>sourceSize</key>
                <string>{231,144}</string>
            </dict>
            <key>ksu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{164,90}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{164,90}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>ksu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,144}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>ksu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,769},{184,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,32}}</string>
                <key>sourceSize</key>
                <string>{184,32}</string>
            </dict>
            <key>ksu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{243,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,31}}</string>
                <key>sourceSize</key>
                <string>{243,31}</string>
            </dict>
            <key>ksu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,294},{352,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{352,33}}</string>
                <key>sourceSize</key>
                <string>{354,33}</string>
            </dict>
            <key>ksu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{190,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,99}}</string>
                <key>sourceSize</key>
                <string>{190,99}</string>
            </dict>
            <key>ksu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,529},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>ksu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,395},{240,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,31}}</string>
                <key>sourceSize</key>
                <string>{240,31}</string>
            </dict>
            <key>ksu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,395},{240,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>ksu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,395},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>ksu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,893},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PvPScene_1.pvr.ccz</string>
            <key>size</key>
            <string>{245,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43639b24a6c2a61f90189a2940cefe18$</string>
            <key>textureFileName</key>
            <string>PvPScene_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
