<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{96,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ico42.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,52},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ico43_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{221,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,68}}</string>
                <key>sourceSize</key>
                <string>{221,68}</string>
            </dict>
            <key>ico60_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,72},{300,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,32}}</string>
                <key>sourceSize</key>
                <string>{300,32}</string>
            </dict>
            <key>shuzi_1_diamond_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,52},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{380,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,48}}</string>
                <key>sourceSize</key>
                <string>{380,48}</string>
            </dict>
            <key>u_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,83},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>u_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{153,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,79}}</string>
                <key>sourceSize</key>
                <string>{153,79}</string>
            </dict>
            <key>u_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
            <key>u_btn_1_for_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareSceneS.pvr.ccz</string>
            <key>size</key>
            <string>{970,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f75b88725c3873e854a5d060b889b2$</string>
            <key>textureFileName</key>
            <string>ShareSceneS.pvr.ccz</string>
        </dict>
    </dict>
</plist>
