<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fubenditu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>fubenditu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1572},{388,360}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,360}}</string>
                <key>sourceSize</key>
                <string>{390,360}</string>
            </dict>
            <key>fubenditu_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1607},{388,360}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,360}}</string>
                <key>sourceSize</key>
                <string>{390,360}</string>
            </dict>
            <key>fubenditu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1140},{362,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,430}}</string>
                <key>sourceSize</key>
                <string>{362,430}</string>
            </dict>
            <key>fubenditu_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,469},{362,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,430}}</string>
                <key>sourceSize</key>
                <string>{362,430}</string>
            </dict>
            <key>fubenditu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,391},{387,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,355}}</string>
                <key>sourceSize</key>
                <string>{387,355}</string>
            </dict>
            <key>fubenditu_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{387,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,355}}</string>
                <key>sourceSize</key>
                <string>{387,355}</string>
            </dict>
            <key>fubenditu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{373,465}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{373,465}}</string>
                <key>sourceSize</key>
                <string>{377,465}</string>
            </dict>
            <key>fubenditu_4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{373,465}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{373,465}}</string>
                <key>sourceSize</key>
                <string>{377,465}</string>
            </dict>
            <key>fubenditu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1327},{408,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,424}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>fubenditu_5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,901},{408,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,424}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dungeonScene.pvr.ccz</string>
            <key>size</key>
            <string>{1376,1969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b046462b3223a4690f08e767e4ce813:0ffe9a5cc310eb7051285ec14bf015e5:fb0249da4b1de270d40f797842751ec7$</string>
            <key>textureFileName</key>
            <string>dungeonScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
