<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plan_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,122},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>plan_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,156},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>plan_board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,161},{113,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>plan_board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,176},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>plan_board3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,122},{124,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,47}}</string>
                <key>sourceSize</key>
                <string>{124,47}</string>
            </dict>
            <key>plan_board4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2},{157,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{157,152}}</string>
                <key>sourceSize</key>
                <string>{195,188}</string>
            </dict>
            <key>plan_board5.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{195,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,188}}</string>
                <key>sourceSize</key>
                <string>{195,188}</string>
            </dict>
            <key>plan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,122},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>plan_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,2},{152,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,79}}</string>
                <key>sourceSize</key>
                <string>{152,79}</string>
            </dict>
            <key>plan_fx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,176},{231,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{231,52}}</string>
                <key>sourceSize</key>
                <string>{255,54}</string>
            </dict>
            <key>plan_fx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,122},{241,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{241,52}}</string>
                <key>sourceSize</key>
                <string>{255,54}</string>
            </dict>
            <key>plan_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,223}}</string>
                <key>sourceSize</key>
                <string>{612,223}</string>
            </dict>
            <key>plan_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,161},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>plan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,122},{77,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>plan_set1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{193,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,54}}</string>
                <key>sourceSize</key>
                <string>{193,54}</string>
            </dict>
            <key>plan_set2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{193,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,54}}</string>
                <key>sourceSize</key>
                <string>{193,54}</string>
            </dict>
            <key>plan_set3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{194,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,54}}</string>
                <key>sourceSize</key>
                <string>{194,54}</string>
            </dict>
            <key>plan_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>plan_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>plan_top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>plan_topbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{640,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,118}}</string>
                <key>sourceSize</key>
                <string>{640,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlanSceneBody.pvr.ccz</string>
            <key>size</key>
            <string>{2022,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e398a3011fe8b0096292fc19be2fdf:8ae04496de4423e2c9c5a2d73d3a0de7:95195ac01dd20daa290829c3ad0dd12c$</string>
            <key>textureFileName</key>
            <string>PlanSceneBody.pvr.ccz</string>
        </dict>
    </dict>
</plist>
