<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{141,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,181}}</string>
                <key>sourceSize</key>
                <string>{143,181}</string>
            </dict>
            <key>shouzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,177}}</string>
                <key>sourceSize</key>
                <string>{143,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouzhi.pvr.ccz</string>
            <key>size</key>
            <string>{147,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12219665222fa7bdaf714e9a8412a94:49132ea8d11154c184849c9ccbe77dfb:2e12d0a64510f093e8c6c5fcf973cacf$</string>
            <key>textureFileName</key>
            <string>shouzhi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
