<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jguan_page__prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{448,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,190}}</string>
                <key>sourceSize</key>
                <string>{448,190}</string>
            </dict>
            <key>jguan_page_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,252}}</string>
                <key>sourceSize</key>
                <string>{443,252}</string>
            </dict>
            <key>jguan_page_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>jguan_page_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>star_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1085},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>star_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1085},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>star_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,495},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>star_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,447},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>yichuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1018},{165,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,65}}</string>
                <key>sourceSize</key>
                <string>{165,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tavernScene_page.pvr.ccz</string>
            <key>size</key>
            <string>{256,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fca230cd3579f6872d427aaaee289f4f:4ca4a48fbe3210bfde51e889ebf04452:397da38a10704f7ad665302aacde56f4$</string>
            <key>textureFileName</key>
            <string>tavernScene_page.pvr.ccz</string>
        </dict>
    </dict>
</plist>
