<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{471,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,148}}</string>
                <key>sourceSize</key>
                <string>{471,148}</string>
            </dict>
            <key>tips_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,99},{518,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,41}}</string>
                <key>sourceSize</key>
                <string>{518,41}</string>
            </dict>
            <key>tips_txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,149}}</string>
                <key>sourceSize</key>
                <string>{498,149}</string>
            </dict>
            <key>tips_txt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{485,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,95}}</string>
                <key>sourceSize</key>
                <string>{485,95}</string>
            </dict>
            <key>tips_txt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{472,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,94}}</string>
                <key>sourceSize</key>
                <string>{472,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tips.pvr.ccz</string>
            <key>size</key>
            <string>{1936,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8175e4190dd84fe3196186d253924197:45134af1afac42030cd1999c0aa5c3b5:d8202ad3ecf674e80940d8168fac2c0d$</string>
            <key>textureFileName</key>
            <string>Tips.pvr.ccz</string>
        </dict>
    </dict>
</plist>
