<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+jguan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,563},{443,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,252}}</string>
                <key>sourceSize</key>
                <string>{443,252}</string>
            </dict>
            <key>+jguan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1650},{44,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{44,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>+jguan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{44,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{44,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>gyong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1008},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>gyong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1650},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>gyong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,56},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>gyong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1008},{640,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,141}}</string>
                <key>sourceSize</key>
                <string>{640,141}</string>
            </dict>
            <key>gyong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{559,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,660}}</string>
                <key>sourceSize</key>
                <string>{559,660}</string>
            </dict>
            <key>zrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{185,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,52}}</string>
                <key>sourceSize</key>
                <string>{185,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>+UI1.pvr.ccz</string>
            <key>size</key>
            <string>{898,1701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e640c2f94f79052249e0d8c918f7dc:8f68c5675e82b75fc9a33fad20f2171a:afab8477e9bd2ee721184e5bd66dda56$</string>
            <key>textureFileName</key>
            <string>+UI1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
