<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,740}}</string>
                <key>sourceSize</key>
                <string>{464,740}</string>
            </dict>
            <key>a/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{223,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,132}}</string>
                <key>sourceSize</key>
                <string>{223,132}</string>
            </dict>
            <key>a/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{462,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,173}}</string>
                <key>sourceSize</key>
                <string>{462,173}</string>
            </dict>
            <key>a/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,919},{336,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,111}}</string>
                <key>sourceSize</key>
                <string>{336,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a.pvr.ccz</string>
            <key>size</key>
            <string>{474,1144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18b40ecfa96741ad287eb1794aacb17:1/1$</string>
            <key>textureFileName</key>
            <string>a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
