<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>j/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,876}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,876}}</string>
                <key>sourceSize</key>
                <string>{500,876}</string>
            </dict>
            <key>j/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{496,864}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,864}}</string>
                <key>sourceSize</key>
                <string>{496,864}</string>
            </dict>
            <key>j/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,500},{522,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,492}}</string>
                <key>sourceSize</key>
                <string>{522,492}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>j.pvr.ccz</string>
            <key>size</key>
            <string>{1370,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b966bdc839d3e1ea4d67316e346e2d2f:1/1$</string>
            <key>textureFileName</key>
            <string>j.pvr.ccz</string>
        </dict>
    </dict>
</plist>
