<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aBoss/aBoss_g01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>aBoss/aBoss_g02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>aBoss/aBoss_g03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,221},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>aBoss/aBoss_g04.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,185},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>aBoss/aBoss_g05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,215},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>aBoss/aBoss_g06.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,229},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>aBoss/aBoss_g07.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,150},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>aBoss/aBoss_g08.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,185},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>aBoss/aBoss_g09.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,150},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>aBoss/aBoss_g10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>aBoss/aBoss_g11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,124},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>aBoss/aBoss_g12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,98},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>aBoss/aBoss_g14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aBoss_g.pvr.ccz</string>
            <key>size</key>
            <string>{102,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7756d720bbea499cdfac197f76da20:1/1$</string>
            <key>textureFileName</key>
            <string>aBoss_g.pvr.ccz</string>
        </dict>
    </dict>
</plist>
