<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_c/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{90,42}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{90,42}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>baozha_c/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{74,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{74,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>baozha_c/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>baozha_c/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{92,76}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>baozha_c/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{74,58}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha.pvr.ccz</string>
            <key>size</key>
            <string>{82,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ed3a9229ad409a44664aa7dcc942ea:1/1$</string>
            <key>textureFileName</key>
            <string>baozha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
