<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bBoss/bBoss_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{110,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,119}</string>
            </dict>
            <key>bBoss/bBoss_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{110,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,119}</string>
            </dict>
            <key>bBoss/bBoss_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,119}}</string>
                <key>sourceSize</key>
                <string>{110,119}</string>
            </dict>
            <key>bBoss/bBoss_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,49},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>bBoss/bBoss_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,49},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>bBoss/bBoss_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>bBoss/bBoss_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bBoss_g.pvr.ccz</string>
            <key>size</key>
            <string>{474,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9d59e6e2fcb7502f782c1b8d834b7f2:1/1$</string>
            <key>textureFileName</key>
            <string>bBoss_g.pvr.ccz</string>
        </dict>
    </dict>
</plist>
