<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingzha/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{325,315}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{325,315}}</string>
                <key>sourceSize</key>
                <string>{443,443}</string>
            </dict>
            <key>bingzha/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{443,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,443}}</string>
                <key>sourceSize</key>
                <string>{443,443}</string>
            </dict>
            <key>bingzha/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,443}}</string>
                <key>sourceSize</key>
                <string>{443,443}</string>
            </dict>
            <key>bingzha/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{375,345}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{375,345}}</string>
                <key>sourceSize</key>
                <string>{443,443}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingzha.pvr.ccz</string>
            <key>size</key>
            <string>{447,1556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed0d527e0d7301b8e6a904d054cf581:1/1$</string>
            <key>textureFileName</key>
            <string>bingzha.pvr.ccz</string>
        </dict>
    </dict>
</plist>
