<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cBoss/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{124,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,152}}</string>
                <key>sourceSize</key>
                <string>{124,152}</string>
            </dict>
            <key>cBoss/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,157},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>cBoss/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,161},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>cBoss/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{122,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,73}}</string>
                <key>sourceSize</key>
                <string>{122,73}</string>
            </dict>
            <key>cBoss/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,126},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>cBoss/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,126},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>cBoss/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,156},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>cBoss/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,156},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>cBoss/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,97},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>cBoss/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,104},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>cBoss/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{151,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{151,135}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>cBoss/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{153,135}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{153,135}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>cBoss/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,139}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>cBoss/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,157},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>cBoss/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>cBoss/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,102},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>cBoss/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,161},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>cBoss/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>cBoss/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,157},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cBoss/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,179},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>cBoss/t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,106},{81,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,100}}</string>
                <key>sourceSize</key>
                <string>{81,100}</string>
            </dict>
            <key>cBoss/t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{102,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>cBoss/t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>cBoss/t_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>cBoss/t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,105},{81,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,48}}</string>
                <key>sourceSize</key>
                <string>{81,48}</string>
            </dict>
            <key>cBoss/t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,156},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>cBoss/t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,155},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>cBoss/t_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,161},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cBoss/t_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,161},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cBoss/t_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,155},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>cBoss/t_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,155},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>cBoss/t_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cBoss.pvr.ccz</string>
            <key>size</key>
            <string>{1021,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d079823e99101fc23cc48be15e15a5a:1/1$</string>
            <key>textureFileName</key>
            <string>cBoss.pvr.ccz</string>
        </dict>
    </dict>
</plist>
