<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changmaoxueguai/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>changmaoxueguai/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>changmaoxueguai/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,97},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>changmaoxueguai/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,97},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>changmaoxueguai/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,94},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>changmaoxueguai/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,97},{92,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,18}}</string>
                <key>sourceSize</key>
                <string>{92,18}</string>
            </dict>
            <key>changmaoxueguai/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,97},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>changmaoxueguai/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,93},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>changmaoxueguai/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{36,82}</string>
            </dict>
            <key>changmaoxueguai/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{36,82}</string>
            </dict>
            <key>changmaoxueguai/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,71},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>changmaoxueguai/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,71},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>changmaoxueguai/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,86},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>changmaoxueguai/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,86},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>changmaoxueguai/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,94},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>changmaoxueguai/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{85,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,93}}</string>
                <key>sourceSize</key>
                <string>{85,93}</string>
            </dict>
            <key>changmaoxueguai/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,111}}</string>
                <key>sourceSize</key>
                <string>{65,111}</string>
            </dict>
            <key>changmaoxueguai/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,111}}</string>
                <key>sourceSize</key>
                <string>{65,111}</string>
            </dict>
            <key>changmaoxueguai/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{67,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,159}}</string>
                <key>sourceSize</key>
                <string>{67,159}</string>
            </dict>
            <key>changmaoxueguai/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{67,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,159}}</string>
                <key>sourceSize</key>
                <string>{67,159}</string>
            </dict>
            <key>changmaoxueguai/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>changmaoxueguai/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>changmaoxueguai/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,71},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>changmaoxueguai/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,71},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>changmaoxueguai/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,97},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>changmaoxueguai/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{85,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,93}}</string>
                <key>sourceSize</key>
                <string>{85,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changmaoxueguai.pvr.ccz</string>
            <key>size</key>
            <string>{1011,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24893e76373d3c5bfcc4b1660ea5d87b:1/1$</string>
            <key>textureFileName</key>
            <string>changmaoxueguai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
