<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoshu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{46,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{46,76}</string>
            </dict>
            <key>daoshu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>daoshu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>daoshu/go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,78}}</string>
                <key>sourceSize</key>
                <string>{133,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoshu.pvr.ccz</string>
            <key>size</key>
            <string>{315,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad8a9147a2ddfaa8614f3b1d110d50e:1/1$</string>
            <key>textureFileName</key>
            <string>daoshu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
