<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dBoss/dBoss_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>dBoss/dBoss_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,103},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>dBoss/dBoss_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,81},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>dBoss/dBoss_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,219},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>dBoss/dBoss_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,180},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>dBoss/dBoss_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,195},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>dBoss/dBoss_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,125},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>dBoss/dBoss_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,200},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>dBoss/dBoss_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{101,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{101,58}</string>
            </dict>
            <key>dBoss/dBoss_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>dBoss/dBoss_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,176},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>dBoss/dBoss_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,229},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>dBoss/dBoss_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,160},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>dBoss/dBoss_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,96},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>dBoss/dBoss_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>dBoss/dBoss_b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,137},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>dBoss/dBoss_b18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dBoss_g.pvr.ccz</string>
            <key>size</key>
            <string>{124,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658680661c0f8ec064db03b48cd43d8d:1/1$</string>
            <key>textureFileName</key>
            <string>dBoss_g.pvr.ccz</string>
        </dict>
    </dict>
</plist>
