<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diyufengquan/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{111,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,67}}</string>
                <key>sourceSize</key>
                <string>{111,67}</string>
            </dict>
            <key>diyufengquan/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,88}}</string>
                <key>sourceSize</key>
                <string>{129,88}</string>
            </dict>
            <key>diyufengquan/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{115,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{115,68}}</string>
                <key>sourceSize</key>
                <string>{129,88}</string>
            </dict>
            <key>diyufengquan/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{99,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{99,74}}</string>
                <key>sourceSize</key>
                <string>{129,88}</string>
            </dict>
            <key>diyufengquan/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,484},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>diyufengquan/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,458},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>diyufengquan/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,228},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>diyufengquan/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,345},{34,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>diyufengquan/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,316},{34,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>diyufengquan/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,79},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>diyufengquan/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,43},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>diyufengquan/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>diyufengquan/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,231},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>diyufengquan/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>diyufengquan/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,202},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>diyufengquan/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,176},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>diyufengquan/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,179},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>diyufengquan/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,507},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>diyufengquan/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,484},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>diyufengquan/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,374},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>diyufengquan/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,262},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>diyufengquan/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,133},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>diyufengquan/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,510},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>diyufengquan/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,115},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>diyufengquan/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>diyufengquan/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diyufengquan.pvr.ccz</string>
            <key>size</key>
            <string>{126,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e6196ec2661f973c3d13769f0cbf87:1/1$</string>
            <key>textureFileName</key>
            <string>diyufengquan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
