<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>du4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,298},{50,50}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{50,50}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>du4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{66,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{66,64}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>du4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{96,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{96,88}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>du4/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,96}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>du4/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>du_a.pvr.ccz</string>
            <key>size</key>
            <string>{122,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c55dc963b71d64e49b6f3f66c99b249c:1/1$</string>
            <key>textureFileName</key>
            <string>du_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
