<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heidong2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>heidong2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>heidong2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>heidong2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,183},{11,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,63}}</string>
                <key>sourceSize</key>
                <string>{11,63}</string>
            </dict>
            <key>heidong2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,232},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>heidong2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,126},{55,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,17}}</string>
                <key>sourceSize</key>
                <string>{55,17}</string>
            </dict>
            <key>heidong2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,264},{31,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,52}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heidong.pvr.ccz</string>
            <key>size</key>
            <string>{127,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c2b90fbbcbd9454d999ef7331e4ac5d:1/1$</string>
            <key>textureFileName</key>
            <string>heidong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
