<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangmogebulin/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,73}}</string>
                <key>sourceSize</key>
                <string>{105,73}</string>
            </dict>
            <key>huangmogebulin/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>huangmogebulin/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>huangmogebulin/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,41},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>huangmogebulin/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>huangmogebulin/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>huangmogebulin/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,41},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>huangmogebulin/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,42},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>huangmogebulin/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,41},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>huangmogebulin/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,42},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>huangmogebulin/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,24},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>huangmogebulin/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,60},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>huangmogebulin/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,46},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>huangmogebulin/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>huangmogebulin/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{52,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,17}}</string>
                <key>sourceSize</key>
                <string>{52,17}</string>
            </dict>
            <key>huangmogebulin/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>huangmogebulin/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>huangmogebulin/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>huangmogebulin/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,40},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>huangmogebulin/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,56},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>huangmogebulin/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>huangmogebulin/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,57},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangmogebulin.pvr.ccz</string>
            <key>size</key>
            <string>{443,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d214c5c82d950f275fb199df6249ec1:1/1$</string>
            <key>textureFileName</key>
            <string>huangmogebulin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
