<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudun_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>hudun_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>hudun_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>hudun_b/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>hudun_b/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>hudun_b/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{1,1}}</string>
                <key>offset</key>
                <string>{-62.5,65.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hudun_b.pvr.ccz</string>
            <key>size</key>
            <string>{354,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ab5e0d6b404df40d3d32bc9fb01775:1/1$</string>
            <key>textureFileName</key>
            <string>hudun_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
