<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huohua/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{74,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{74,71}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>huohua/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{74,71}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>huohua/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{92,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{92,89}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>huohua/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huohua.pvr.ccz</string>
            <key>size</key>
            <string>{103,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9029724a4b655dce9711906878907765:1/1$</string>
            <key>textureFileName</key>
            <string>huohua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
