<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iBoss/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>iBoss/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,723},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>iBoss/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1135},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>iBoss/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>iBoss/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{125,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,108}}</string>
                <key>sourceSize</key>
                <string>{125,108}</string>
            </dict>
            <key>iBoss/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{116,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>iBoss/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>iBoss/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{77,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,47}}</string>
                <key>sourceSize</key>
                <string>{77,47}</string>
            </dict>
            <key>iBoss/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>iBoss/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1028},{146,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>iBoss/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>iBoss/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>iBoss/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,871},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>iBoss/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,543},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>iBoss/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,603},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>iBoss/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>iBoss/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,834},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>iBoss/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,514},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>iBoss/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,572},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>iBoss/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>iBoss/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,970},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>iBoss/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{134,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,85}}</string>
                <key>sourceSize</key>
                <string>{134,85}</string>
            </dict>
            <key>iBoss/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,656},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>iBoss/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1111},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>iBoss/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1176},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>iBoss/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>iBoss/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,937},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>iBoss/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,801},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>iBoss/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,366},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>iBoss/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1135},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>iBoss/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,634},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>iBoss/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,908},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>iBoss/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,764},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>iBoss/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>iBoss/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>iBoss/36.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,409},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iBoss.pvr.ccz</string>
            <key>size</key>
            <string>{117,1225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab29347f6f69a96cc00903f11e605269:1/1$</string>
            <key>textureFileName</key>
            <string>iBoss.pvr.ccz</string>
        </dict>
    </dict>
</plist>
