<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranshao_a/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,994},{228,222}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,131},{228,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_a/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1744},{224,222}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,131},{224,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_a/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1744},{224,222}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,131},{224,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_a/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1476},{224,222}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,131},{224,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_a/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1476},{224,222}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,131},{224,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1464},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1184},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{290,280}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{290,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{322,308}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{322,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1146},{342,328}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,73},{342,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,994},{356,342}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{356,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{364,350}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{364,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_b/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,786},{370,358}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{370,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1218},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1620},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1338},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1620},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1338},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1702},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1746},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ranshao_c/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{280,278}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{280,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>xuli_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,622},{370,454}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{370,454}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{406,382}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{406,382}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,386},{418,420}}</string>
                <key>offset</key>
                <string>{48,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,93},{418,420}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,414}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,133},{494,414}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{486,362}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,167},{486,362}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,316},{468,304}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,174},{468,304}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{482,312}}</string>
                <key>offset</key>
                <string>{22,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,197},{482,312}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,366},{418,462}}</string>
                <key>offset</key>
                <string>{36,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,32},{418,462}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{382,426}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,50},{382,426}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
            <key>xuli_b/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,806},{376,438}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,26},{376,438}}</string>
                <key>sourceSize</key>
                <string>{590,574}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranshao.pvr.ccz</string>
            <key>size</key>
            <string>{1878,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee6c5b25ef0c1900337f7a8e918b266:1/1$</string>
            <key>textureFileName</key>
            <string>ranshao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
