<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shibei_a/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,97},{143,67}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,87},{143,67}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{143,93}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,61},{143,93}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{143,145}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{143,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{143,155}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{143,155}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{143,155}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{143,155}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{143,155}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{143,155}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,157}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{165,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{165,115}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{165,115}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_a/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,159},{165,91}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>shibei_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,119},{167,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,104}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,149},{157,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{157,96}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,159},{153,86}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{153,86}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{157,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{157,82}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,159},{137,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{137,74}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,97},{143,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{143,66}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>shibei_b/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,119},{17,28}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{17,28}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shibei.pvr.ccz</string>
            <key>size</key>
            <string>{1093,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bfad7575123edf2930ccbe6c8356fd0:1/1$</string>
            <key>textureFileName</key>
            <string>shibei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
