<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>taozi/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>taozi/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,284},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>taozi/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,254},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>taozi/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,270},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>taozi/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,212},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>taozi/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,70},{58,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,15}}</string>
                <key>sourceSize</key>
                <string>{58,15}</string>
            </dict>
            <key>taozi/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,337},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>taozi/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,337},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>taozi/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{66,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>taozi/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,240},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>taozi/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,185},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>taozi/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>taozi/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>taozi/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>taozi/n08.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,130},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taozi.pvr.ccz</string>
            <key>size</key>
            <string>{118,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7a4439d2dee99300097b3ff30db09c4:1/1$</string>
            <key>textureFileName</key>
            <string>taozi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
