<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueyugangxie/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,335},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>xueyugangxie/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,304},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>xueyugangxie/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>xueyugangxie/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,17}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{53,17}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>xueyugangxie/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,21},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>xueyugangxie/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{31,31}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>xueyugangxie/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{31,31}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>xueyugangxie/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,114},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>xueyugangxie/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,89},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>xueyugangxie/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,250},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>xueyugangxie/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,139},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>xueyugangxie/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,215},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>xueyugangxie/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,197},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>xueyugangxie/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>xueyugangxie/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{37,27}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>xueyugangxie/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{37,27}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>xueyugangxie/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,180},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>xueyugangxie/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,163},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>xueyugangxie/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,264},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>xueyugangxie/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,233},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>xueyugangxie/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xueyugangxie/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xueyugangxie/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>xueyugangxie/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,281},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>xueyugangxie/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,281},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>xueyugangxie/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>xueyugangxie/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,370},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueyugangxie.pvr.ccz</string>
            <key>size</key>
            <string>{63,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4f5a83a872f14b8e12082355c91e2a:1/1$</string>
            <key>textureFileName</key>
            <string>xueyugangxie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
