<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,546}}</string>
                <key>sourceSize</key>
                <string>{491,546}</string>
            </dict>
            <key>plun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{444,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,42}}</string>
                <key>sourceSize</key>
                <string>{444,42}</string>
            </dict>
            <key>plun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{371,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,85}}</string>
                <key>sourceSize</key>
                <string>{371,85}</string>
            </dict>
            <key>plun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{371,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,85}}</string>
                <key>sourceSize</key>
                <string>{371,85}</string>
            </dict>
            <key>plun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{371,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,85}}</string>
                <key>sourceSize</key>
                <string>{371,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pinglunItem.pvr.ccz</string>
            <key>size</key>
            <string>{495,855}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bec9028005f16aa2697c0a1c2ccb88a:0e6b075c28fdc90335c44b70af7374ee:98fef34b6d05d0ca6874ea44b06b1655$</string>
            <key>textureFileName</key>
            <string>pinglunItem.pvr.ccz</string>
        </dict>
    </dict>
</plist>
