<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,382}}</string>
                <key>sourceSize</key>
                <string>{553,382}</string>
            </dict>
            <key>setting_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{154,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,49}}</string>
                <key>sourceSize</key>
                <string>{154,49}</string>
            </dict>
            <key>setting_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,111},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>setting_btn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,53},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>setting_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,169},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>setting_music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,235},{61,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>setting_music_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,53},{57,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>setting_sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,317},{63,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>setting_sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,317},{61,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>setting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,120},{195,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,51}}</string>
                <key>sourceSize</key>
                <string>{199,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soundSetting.pvr.ccz</string>
            <key>size</key>
            <string>{713,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda9f949419d952240c6977842cf9431:bd5e36fee3b47bc3b47a8811b074fd8c:fa7a91558588a023986ad3b412318ea6$</string>
            <key>textureFileName</key>
            <string>soundSetting.pvr.ccz</string>
        </dict>
    </dict>
</plist>
