<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg1.pvr.ccz</string>
            <key>size</key>
            <string>{644,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d0daf635e631b67ddd18278f844a28b:33d7b329a8299434aee15f56b6f6f1f5:b391d98fece029949d66088a1c5d9986$</string>
            <key>textureFileName</key>
            <string>bg1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
