<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1655},{119,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,134}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>head_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1776},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>head_1002_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1890},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>head_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{115,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,135}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>head_1003_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1014},{115,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,135}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>head_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1542},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>head_1004_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1675},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>head_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1291},{122,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,138}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>head_1005_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1151},{122,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,138}}</string>
                <key>sourceSize</key>
                <string>{122,138}</string>
            </dict>
            <key>head_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1905},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>head_1006_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>head_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1733},{120,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,135}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>head_1007_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1636},{120,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,135}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>head_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1415},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>head_1008_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>head_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1890},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>head_1009_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1758},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>head_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1622},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>head_1010_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1525},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{109,144}</string>
            </dict>
            <key>head_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1229},{126,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{126,150}</string>
            </dict>
            <key>head_1011_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{126,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{126,150}</string>
            </dict>
            <key>head_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1421},{146,125}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{170,125}</string>
            </dict>
            <key>head_1105_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1357},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>head_1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>head_1106_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,849},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>head_1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1484},{145,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,136}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>head_1111_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1387},{145,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,136}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>head_1112.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1014},{102,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,155}}</string>
                <key>sourceSize</key>
                <string>{102,155}</string>
            </dict>
            <key>head_1112_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,992},{102,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,155}}</string>
                <key>sourceSize</key>
                <string>{102,155}</string>
            </dict>
            <key>head_1117.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,849},{178,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>head_1117_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{178,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>head_1118.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1251},{149,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,134}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>head_1118_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{149,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,134}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>head_1123.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1118},{152,131}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{152,131}}</string>
                <key>sourceSize</key>
                <string>{180,131}</string>
            </dict>
            <key>head_1123_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1096},{152,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,131}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>name_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,728},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,728},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,607},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,607},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,486},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,486},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,365},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,365},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,244},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,244},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1117.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,123},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1118.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,123},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1124.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1129.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
            <key>name_1130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,119}}</string>
                <key>sourceSize</key>
                <string>{197,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juese.pvr.ccz</string>
            <key>size</key>
            <string>{599,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d584085bc330dd71398c8bf11f987e:11fe3f8b3ebbc05ff9c55675cb5da97d:420d2fe5c31a6d1057a814dc43b2734f$</string>
            <key>textureFileName</key>
            <string>juese.pvr.ccz</string>
        </dict>
    </dict>
</plist>
