<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{159,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,99}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>btn_chuzhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,644},{159,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,99}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{159,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,99}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>btn_next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{159,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,99}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>btn_prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,587},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>btn_prev2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,805},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>ico03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,642},{44,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{44,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,947},{44,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{44,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico90.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,547},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>ico91.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,926},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>ico93.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{583,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,113}}</string>
                <key>sourceSize</key>
                <string>{583,113}</string>
            </dict>
            <key>ico_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,903},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>loading_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{543,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,46}}</string>
                <key>sourceSize</key>
                <string>{543,46}</string>
            </dict>
            <key>loading_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{521,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{521,32}}</string>
                <key>sourceSize</key>
                <string>{543,46}</string>
            </dict>
            <key>loading_wd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{112,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{112,44}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>setting_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,903},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>setting_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,699},{116,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,99}}</string>
                <key>sourceSize</key>
                <string>{116,99}</string>
            </dict>
            <key>setting_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,699},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>setting_tongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,801},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>topbar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{640,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,141}}</string>
                <key>sourceSize</key>
                <string>{640,141}</string>
            </dict>
            <key>topbar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,148}}</string>
                <key>sourceSize</key>
                <string>{640,148}</string>
            </dict>
            <key>zcdszhi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,800},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{492,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd6d41a8318632db2208709e22ff9ce2:697cb652c4d6dd36e58a321b0fa30e79:ce842559b5d294d5ed4628903bfc52df$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
