<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,451},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,451},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,245},{156,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,80}}</string>
                <key>sourceSize</key>
                <string>{156,80}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,608}}</string>
                <key>sourceSize</key>
                <string>{492,608}</string>
            </dict>
            <key>box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{525,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,241}}</string>
                <key>sourceSize</key>
                <string>{525,241}</string>
            </dict>
            <key>box15.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,245},{326,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,100}}</string>
                <key>sourceSize</key>
                <string>{326,100}</string>
            </dict>
            <key>ico43.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,245},{221,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,68}}</string>
                <key>sourceSize</key>
                <string>{221,68}</string>
            </dict>
            <key>ico57.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,403},{113,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,46}}</string>
                <key>sourceSize</key>
                <string>{113,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareScene.pvr.ccz</string>
            <key>size</key>
            <string>{1139,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7883dd729ae05573295c29fe8438cb:79acc2e4055ec95f287b7f38b90a7297:c5072f2d7f8908b50f63a797f1169265$</string>
            <key>textureFileName</key>
            <string>shareScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
