<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teach_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{629,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,234}}</string>
                <key>sourceSize</key>
                <string>{629,234}</string>
            </dict>
            <key>teach_txt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{629,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,216}}</string>
                <key>sourceSize</key>
                <string>{629,216}</string>
            </dict>
            <key>teach_txt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{629,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,216}}</string>
                <key>sourceSize</key>
                <string>{629,216}</string>
            </dict>
            <key>teach_txt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1722},{475,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,162}}</string>
                <key>sourceSize</key>
                <string>{475,162}</string>
            </dict>
            <key>teach_txt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1226},{475,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,162}}</string>
                <key>sourceSize</key>
                <string>{475,162}</string>
            </dict>
            <key>teach_txt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1245},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,633},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,633},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1110},{475,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,162}}</string>
                <key>sourceSize</key>
                <string>{475,162}</string>
            </dict>
            <key>teach_txt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1245},{475,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,162}}</string>
                <key>sourceSize</key>
                <string>{475,162}</string>
            </dict>
            <key>teach_txt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,633},{475,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,162}}</string>
                <key>sourceSize</key>
                <string>{475,162}</string>
            </dict>
            <key>teach_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,614},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,599}}</string>
                <key>sourceSize</key>
                <string>{509,599}</string>
            </dict>
            <key>teach_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1234},{629,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,216}}</string>
                <key>sourceSize</key>
                <string>{629,216}</string>
            </dict>
            <key>teach_txt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{629,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,234}}</string>
                <key>sourceSize</key>
                <string>{629,234}</string>
            </dict>
            <key>teach_txt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1865},{610,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,162}}</string>
                <key>sourceSize</key>
                <string>{610,162}</string>
            </dict>
            <key>teach_txt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,603},{629,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,216}}</string>
                <key>sourceSize</key>
                <string>{629,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeachText.pvr.ccz</string>
            <key>size</key>
            <string>{1113,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7a1178f5bd56ec3bd2e6cd9d1f7477a:af9d9c24da2cae091649f08b02af1a49:18131905c8cbcae9f4e7555414bb7a9e$</string>
            <key>textureFileName</key>
            <string>TeachText.pvr.ccz</string>
        </dict>
    </dict>
</plist>
