<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,117}}</string>
                <key>sourceSize</key>
                <string>{492,119}</string>
            </dict>
            <key>box03_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{360,34}}</string>
                <key>sourceSize</key>
                <string>{360,36}</string>
            </dict>
            <key>shuzi_1_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,38},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>yangguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,38},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>yangguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,38},{214,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,63}}</string>
                <key>sourceSize</key>
                <string>{216,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PowerScene.pvr.ccz</string>
            <key>size</key>
            <string>{858,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617a3e1ce9037876628f9256470dfb7e$</string>
            <key>textureFileName</key>
            <string>PowerScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
