<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{161,203}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{161,203}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,157},{53,71}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,89},{53,71}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{181,233}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{181,233}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{193,245}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,245}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{197,245}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,245}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,245}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
            <key>baozha2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{153,131}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,63},{153,131}}</string>
                <key>sourceSize</key>
                <string>{201,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha_b.pvr.ccz</string>
            <key>size</key>
            <string>{1078,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e241ebf92352fae601988a27d4b6860:1/1$</string>
            <key>textureFileName</key>
            <string>baozha_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
