<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,122}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>bing_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{105,120}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{105,120}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>bing_b/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{125,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,114}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>bing_b/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{121,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{121,112}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bing_b.pvr.ccz</string>
            <key>size</key>
            <string>{459,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f03b3607c815a41696aeb5f60416759:1/1$</string>
            <key>textureFileName</key>
            <string>bing_b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
