<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing_c/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{60,41}}</string>
                <key>offset</key>
                <string>{-18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,90},{60,41}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>bing_c/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,137},{92,99}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{92,99}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>bing_c/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,272},{112,109}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{112,109}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>bing_c/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{150,133}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>bing_c/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,133}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>bing_c/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{144,133}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bing_c.pvr.ccz</string>
            <key>size</key>
            <string>{248,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c19fdf975b76ddf3ae528b936dd4e365:1/1$</string>
            <key>textureFileName</key>
            <string>bing_c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
