<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingzhu_a/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,324},{134,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,43},{134,75}}</string>
                <key>sourceSize</key>
                <string>{314,163}</string>
            </dict>
            <key>bingzhu_a/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{214,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{214,115}}</string>
                <key>sourceSize</key>
                <string>{314,163}</string>
            </dict>
            <key>bingzhu_a/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{298,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{298,155}}</string>
                <key>sourceSize</key>
                <string>{314,163}</string>
            </dict>
            <key>bingzhu_a/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,163}}</string>
                <key>sourceSize</key>
                <string>{314,163}</string>
            </dict>
            <key>bingzhu_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,405},{88,81}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,172},{88,81}}</string>
                <key>sourceSize</key>
                <string>{186,253}</string>
            </dict>
            <key>bingzhu_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,257},{146,197}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,56},{146,197}}</string>
                <key>sourceSize</key>
                <string>{186,253}</string>
            </dict>
            <key>bingzhu_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{186,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,253}}</string>
                <key>sourceSize</key>
                <string>{186,253}</string>
            </dict>
            <key>bingzhu_c/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{170,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,56}}</string>
                <key>sourceSize</key>
                <string>{170,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bing_d.pvr.ccz</string>
            <key>size</key>
            <string>{506,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce1a42d9b1b99585693995caa8b5f93d:1/1$</string>
            <key>textureFileName</key>
            <string>bing_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
