<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boluo/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>boluo/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,135},{68,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,12}}</string>
                <key>sourceSize</key>
                <string>{68,12}</string>
            </dict>
            <key>boluo/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,113},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>boluo/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,205},{43,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,15}}</string>
                <key>sourceSize</key>
                <string>{43,15}</string>
            </dict>
            <key>boluo/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,117},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>boluo/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,241},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>boluo/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,117},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>boluo/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>boluo/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,241},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>boluo/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,174},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>boluo/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,226},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>boluo/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,194},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>boluo/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,230},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>boluo/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,198},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>boluo/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,230},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>boluo/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,117},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>boluo/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,194},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>boluo/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,174},{22,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,49}}</string>
                <key>sourceSize</key>
                <string>{22,49}</string>
            </dict>
            <key>boluo/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,198},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>boluo/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,210},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>boluo/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,205},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>boluo/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,147},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>boluo/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>boluo/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>boluo/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,86},{79,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,106}}</string>
                <key>sourceSize</key>
                <string>{79,106}</string>
            </dict>
            <key>boluo/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,138},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>boluo/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>boluo/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boluo.pvr.ccz</string>
            <key>size</key>
            <string>{380,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96391365c9a73d1d4657f04cb0ade394:1/1$</string>
            <key>textureFileName</key>
            <string>boluo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
