<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuan_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{190,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,334}}</string>
                <key>sourceSize</key>
                <string>{190,334}</string>
            </dict>
            <key>chuan_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,370}}</string>
                <key>sourceSize</key>
                <string>{196,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuan.pvr.ccz</string>
            <key>size</key>
            <string>{200,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e8d03d4c44143c1c1ea52c6fb7ba07:1/1$</string>
            <key>textureFileName</key>
            <string>chuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
