<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengxiyi/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>fengxiyi/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>fengxiyi/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,34},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>fengxiyi/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,72},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>fengxiyi/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,102},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>fengxiyi/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,102},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>fengxiyi/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,107},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>fengxiyi/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,107},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>fengxiyi/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,72},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>fengxiyi/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,112}}</string>
                <key>sourceSize</key>
                <string>{41,112}</string>
            </dict>
            <key>fengxiyi/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{28,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,103}}</string>
                <key>sourceSize</key>
                <string>{28,103}</string>
            </dict>
            <key>fengxiyi/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,72},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>fengxiyi/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,112}}</string>
                <key>sourceSize</key>
                <string>{41,112}</string>
            </dict>
            <key>fengxiyi/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{28,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,103}}</string>
                <key>sourceSize</key>
                <string>{28,103}</string>
            </dict>
            <key>fengxiyi/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,60},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>fengxiyi/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>fengxiyi/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,73},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>fengxiyi/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengxiyi.pvr.ccz</string>
            <key>size</key>
            <string>{312,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec62fb85862572e889e5517c64087ff:1/1$</string>
            <key>textureFileName</key>
            <string>fengxiyi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
