<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huolongguo/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>huolongguo/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,28},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>huolongguo/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
            <key>huolongguo/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,67},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>huolongguo/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,46},{15,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,38}}</string>
                <key>sourceSize</key>
                <string>{15,38}</string>
            </dict>
            <key>huolongguo/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,67},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>huolongguo/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,74},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>huolongguo/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,46},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>huolongguo/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,28},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{43,16}</string>
            </dict>
            <key>huolongguo/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,46},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>huolongguo/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,74},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>huolongguo/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,78},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>huolongguo/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{59,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,24}}</string>
                <key>sourceSize</key>
                <string>{59,24}</string>
            </dict>
            <key>huolongguo/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,74},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>huolongguo/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>huolongguo/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>huolongguo/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>huolongguo/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{69,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,85}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huolongguo.pvr.ccz</string>
            <key>size</key>
            <string>{505,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eecd35db627e6b9e7ecd3028236e92de:1/1$</string>
            <key>textureFileName</key>
            <string>huolongguo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
