<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lipin/a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{39,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,13}}</string>
                <key>sourceSize</key>
                <string>{39,13}</string>
            </dict>
            <key>lipin/b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lipin.pvr.ccz</string>
            <key>size</key>
            <string>{83,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac17fd59a863707844767005148e3cc:1/1$</string>
            <key>textureFileName</key>
            <string>lipin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
