<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longjuanfeng_b/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{241,308}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{241,308}}</string>
                <key>sourceSize</key>
                <string>{249,314}</string>
            </dict>
            <key>longjuanfeng_b/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{243,312}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{243,312}}</string>
                <key>sourceSize</key>
                <string>{249,314}</string>
            </dict>
            <key>longjuanfeng_b/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{243,308}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{243,308}}</string>
                <key>sourceSize</key>
                <string>{249,314}</string>
            </dict>
            <key>longjuanfeng_b/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,314}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{243,314}}</string>
                <key>sourceSize</key>
                <string>{249,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longjuanfeng.pvr.ccz</string>
            <key>size</key>
            <string>{247,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5ffb054294f27e69bee6cb4252190d:1/1$</string>
            <key>textureFileName</key>
            <string>longjuanfeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
