<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shitou/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>shitou/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>shitou/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>shitou/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>shitou/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>shitou/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>shitou/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luoshi.pvr.ccz</string>
            <key>size</key>
            <string>{62,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8c37497d08230a8f6c7d2d9511c47c6:1/1$</string>
            <key>textureFileName</key>
            <string>luoshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
