<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mangguo/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>mangguo/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,410},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>mangguo/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,376},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>mangguo/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,407},{8,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,5}</string>
            </dict>
            <key>mangguo/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,399},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>mangguo/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,407},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>mangguo/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,376},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>mangguo/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>mangguo/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,387},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>mangguo/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,388},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>mangguo/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,388},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>mangguo/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,376},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>mangguo/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>mangguo/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>mangguo/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>mangguo/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>mangguo/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{73,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mangguo.pvr.ccz</string>
            <key>size</key>
            <string>{81,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9e4903c0c6c5ffdf0404a4096324bf:1/1$</string>
            <key>textureFileName</key>
            <string>mangguo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
