<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mofalun_a/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{127,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,147}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,149}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,149},{127,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{127,145}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,298},{129,143}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{129,143}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{127,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,149}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{127,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,149}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,153},{129,143}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{129,143}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>mofalun_a/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{127,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{127,145}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mofalun_a.pvr.ccz</string>
            <key>size</key>
            <string>{391,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a16a479899ed46e21faa34132b3bc99:1/1$</string>
            <key>textureFileName</key>
            <string>mofalun_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
