<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pingguo/n01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>pingguo/n02.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,15},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>pingguo/n03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,51},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>pingguo/n04.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,74},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>pingguo/n05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{47,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,11}}</string>
                <key>sourceSize</key>
                <string>{47,11}</string>
            </dict>
            <key>pingguo/n06.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>pingguo/n07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,57},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>pingguo/n08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>pingguo/n10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>pingguo/n11.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,74},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>pingguo/n16.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,74},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>pingguo/n17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,74},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>pingguo/n19.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>pingguo/n20.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{71,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,86}}</string>
                <key>sourceSize</key>
                <string>{71,86}</string>
            </dict>
            <key>pingguo/n21.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>pingguo/n22.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{71,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,86}}</string>
                <key>sourceSize</key>
                <string>{71,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pingguo.pvr.ccz</string>
            <key>size</key>
            <string>{510,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d6c049fa7c15cb87746cf6e3626caf:1/1$</string>
            <key>textureFileName</key>
            <string>pingguo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
