<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangbao2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{85,85}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{85,85}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{83,87}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,25},{83,87}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{117,115}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{117,115}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{129,129}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{129,129}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{137,139}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{137,139}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{143,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{143,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>qiangbao2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangbao2.pvr.ccz</string>
            <key>size</key>
            <string>{855,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c73bf9262ca36a4323ef185f81baa7fb:1/1$</string>
            <key>textureFileName</key>
            <string>qiangbao2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
