<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruanniguai/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{84,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,67}}</string>
                <key>sourceSize</key>
                <string>{84,67}</string>
            </dict>
            <key>ruanniguai/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,413},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>ruanniguai/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>ruanniguai/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,281},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>ruanniguai/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,173},{40,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,9}}</string>
                <key>sourceSize</key>
                <string>{40,9}</string>
            </dict>
            <key>ruanniguai/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>ruanniguai/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,226},{10,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>sourceSize</key>
                <string>{10,26}</string>
            </dict>
            <key>ruanniguai/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,384},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>ruanniguai/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>ruanniguai/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>ruanniguai/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruanniguai.pvr.ccz</string>
            <key>size</key>
            <string>{76,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d86380ddaae9508194c172882d8397b:1/1$</string>
            <key>textureFileName</key>
            <string>ruanniguai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
