<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shamofeilong/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{86,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>shamofeilong/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>shamofeilong/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>shamofeilong/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,88},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>shamofeilong/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,75},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>shamofeilong/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,129},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>shamofeilong/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,43},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>shamofeilong/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,143},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>shamofeilong/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,151},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>shamofeilong/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,129},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>shamofeilong/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,129},{37,31}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,31}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{39,23}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{39,23}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,54},{39,19}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{39,19}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,96},{31,33}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{31,33}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,57},{37,31}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,31}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,47},{39,23}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{39,23}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,33},{39,19}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{39,19}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,96},{31,33}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{31,33}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>shamofeilong/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,88},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>shamofeilong/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,2},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>shamofeilong/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,90},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>shamofeilong/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{86,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>shamofeilong/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,90},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>shamofeilong/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,90},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shamofeilong/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{164,169}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{164,159}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,159}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{158,165}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{162,167}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,167}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{164,169}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{166,169}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{162,169}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>shamofeilong/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,169}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shamofeilong.pvr.ccz</string>
            <key>size</key>
            <string>{1675,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc538e3df1d4f665ea1e113f836e70c6:1/1$</string>
            <key>textureFileName</key>
            <string>shamofeilong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
