<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanxian/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,45},{34,41}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{34,41}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,105}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{116,105}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,107}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{118,107}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{124,101}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{124,101}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{124,91}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,91}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{130,81}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,81}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{126,41}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,41}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>shanxian/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,95},{16,9}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shanxian.pvr.ccz</string>
            <key>size</key>
            <string>{752,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154d03c0f0f70dc322266707430cf4b5:1/1$</string>
            <key>textureFileName</key>
            <string>shanxian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
