<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shiliu/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{71,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>shiliu/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>shiliu/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>shiliu/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiliu_a.pvr.ccz</string>
            <key>size</key>
            <string>{300,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0c4c93123a6addb33524b94aaf880b6:1/1$</string>
            <key>textureFileName</key>
            <string>shiliu_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
