<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xigua/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>xigua/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,71},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>xigua/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,45},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>xigua/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,51},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>xigua/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,37},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>xigua/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>xigua/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,71},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>xigua/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>xigua/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>xigua/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,32},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>xigua/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,71},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>xigua/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,53},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>xigua/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>xigua/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>xigua/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{91,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>xigua/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{91,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xigua.pvr.ccz</string>
            <key>size</key>
            <string>{659,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:567ea19472f1c94a4c90443946ef36cc:1/1$</string>
            <key>textureFileName</key>
            <string>xigua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
