<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>money_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,176}}</string>
                <key>sourceSize</key>
                <string>{551,176}</string>
            </dict>
            <key>money_board02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{251,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,95}}</string>
                <key>sourceSize</key>
                <string>{251,95}</string>
            </dict>
            <key>money_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,180},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>money_ico01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,213},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>money_ico02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,213},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>money_ico03.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,195},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>money_ico04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,195},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>money_ico05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,180},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>money_ico06.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,50},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>money_ico07.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{118,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>money_ico08.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,122},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>price_cn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,148},{85,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{85,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_cn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,122},{122,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{122,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_cn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,207},{121,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{121,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>price_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,180},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,99},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,50},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>price_hk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_hk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,99},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_hk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>price_mop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,207},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_mop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,99},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_mop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>price_sg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,180},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_sg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,147},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_sg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,147},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{97,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>price_tw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>price_tw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,159},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>price_tw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moneyItem.pvr.ccz</string>
            <key>size</key>
            <string>{1254,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e9e11d98a0361a193a784a6e56ca0c7:02fe8b1bb6d5c63bcabd3b600363142a:caea8aa1a850855ccc71f1a4cc8c78d1$</string>
            <key>textureFileName</key>
            <string>moneyItem.pvr.ccz</string>
        </dict>
    </dict>
</plist>
