<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_cup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{93,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,117}}</string>
                <key>sourceSize</key>
                <string>{95,119}</string>
            </dict>
            <key>level_cup_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>level_cup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{93,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,119}}</string>
                <key>sourceSize</key>
                <string>{95,119}</string>
            </dict>
            <key>level_cup_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>level_cup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{95,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,119}}</string>
                <key>sourceSize</key>
                <string>{95,119}</string>
            </dict>
            <key>level_cup_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>level_cup_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>level_cup_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>level_cup_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>level_cup_null2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelCup.pvr.ccz</string>
            <key>size</key>
            <string>{907,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c247736a6d43095ac847c2cb783599b7:47f8ad196258f96dd844cdc4a22891be:e0eb8edd92cfeb510eb2b97935f88f53$</string>
            <key>textureFileName</key>
            <string>levelCup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
