<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_bg_2.pvr.ccz</string>
            <key>size</key>
            <string>{644,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e689fcb0abe29027ebb9ebe122212fb:18769038289aee01db080b0310b60079:8db5b14db5fc43dd7b8823c5067ee383$</string>
            <key>textureFileName</key>
            <string>level_bg_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
