<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{744,237}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{744,237}}</string>
                <key>sourceSize</key>
                <string>{794,279}</string>
            </dict>
            <key>bingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,241},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>bingkuai_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,150},{101,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>bingkuai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,2},{201,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,198}}</string>
                <key>sourceSize</key>
                <string>{201,198}</string>
            </dict>
            <key>catapult1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,2},{146,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,111}}</string>
                <key>sourceSize</key>
                <string>{146,111}</string>
            </dict>
            <key>catapult2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,314},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>catapult3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,222},{155,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,117}}</string>
                <key>sourceSize</key>
                <string>{155,117}</string>
            </dict>
            <key>feiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,2},{380,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,218}}</string>
                <key>sourceSize</key>
                <string>{380,218}</string>
            </dict>
            <key>gutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,290},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>jianqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{284,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,313}}</string>
                <key>sourceSize</key>
                <string>{284,313}</string>
            </dict>
            <key>liannu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,205},{163,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,123}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>liannu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,314},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>moshui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,319}}</string>
                <key>sourceSize</key>
                <string>{315,319}</string>
            </dict>
            <key>peel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,253},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>shandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,241},{71,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,391}}</string>
                <key>sourceSize</key>
                <string>{71,391}</string>
            </dict>
            <key>shilanshan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,241},{142,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{142,75}</string>
            </dict>
            <key>tieshanlan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,241},{142,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{142,75}</string>
            </dict>
            <key>yanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,241},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>zhalan.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,241},{142,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{142,75}</string>
            </dict>
            <key>zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,253},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_Sprite.pvr.ccz</string>
            <key>size</key>
            <string>{2046,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:897b4831e80d028fcca0507a407dc849:1/1$</string>
            <key>textureFileName</key>
            <string>Game_Sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
