<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1657,1008}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1657,1008}}</string>
                <key>sourceSize</key>
                <string>{1657,1008}</string>
            </dict>
            <key>bg_fanchuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1661},{324,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,482}}</string>
                <key>sourceSize</key>
                <string>{326,482}</string>
            </dict>
            <key>bg_jiuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{350,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,503}}</string>
                <key>sourceSize</key>
                <string>{350,503}</string>
            </dict>
            <key>bg_qiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1661},{405,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,311}}</string>
                <key>sourceSize</key>
                <string>{405,311}</string>
            </dict>
            <key>bg_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,821},{419,393}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{419,393}}</string>
                <key>sourceSize</key>
                <string>{419,397}</string>
            </dict>
            <key>bg_wujintiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1216},{405,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{405,722}}</string>
                <key>sourceSize</key>
                <string>{407,722}</string>
            </dict>
            <key>bg_xuanwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1661},{194,295}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,295}}</string>
                <key>sourceSize</key>
                <string>{194,297}</string>
            </dict>
            <key>bg_yun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,821},{184,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,76}}</string>
                <key>sourceSize</key>
                <string>{188,76}</string>
            </dict>
            <key>bg_yun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,80},{150,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,53}}</string>
                <key>sourceSize</key>
                <string>{156,53}</string>
            </dict>
            <key>bg_yun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>bg_yun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,46},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>bg_yun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1958},{83,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,22}}</string>
                <key>sourceSize</key>
                <string>{89,22}</string>
            </dict>
            <key>bg_zhanchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,354},{474,465}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{474,465}}</string>
                <key>sourceSize</key>
                <string>{476,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeScene.pvr.ccz</string>
            <key>size</key>
            <string>{1594,1987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635fac6832f2949dc26d9311e24794c2:59e0d7a8a9aefffecbd4172625cca0fc:0d4fb5a3fb9247242c8f9497673ea3c3$</string>
            <key>textureFileName</key>
            <string>homeScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
