<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hundunzhanchang/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,490}}</string>
                <key>sourceSize</key>
                <string>{471,490}</string>
            </dict>
            <key>hundunzhanchang/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,575},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>hundunzhanchang/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{79,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,99}}</string>
                <key>sourceSize</key>
                <string>{79,99}</string>
            </dict>
            <key>hundunzhanchang/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,604},{80,31}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,31}}</string>
                <key>sourceSize</key>
                <string>{134,77}</string>
            </dict>
            <key>hundunzhanchang/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,494},{108,65}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{108,65}}</string>
                <key>sourceSize</key>
                <string>{134,77}</string>
            </dict>
            <key>hundunzhanchang/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,538},{120,77}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{120,77}}</string>
                <key>sourceSize</key>
                <string>{134,77}</string>
            </dict>
            <key>hundunzhanchang/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>hundunzhanchang/hundunzhanchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,494},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hundunzhanchang.pvr.ccz</string>
            <key>size</key>
            <string>{475,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9fe0c9bdfcb83505a8c1def7506a6c:262d690f886766732968816cede67b89:1f85688401f5116e61b8a16f1d6c4887$</string>
            <key>textureFileName</key>
            <string>hundunzhanchang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
