<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>新建文件夹/guangqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,214},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>新建文件夹/hundunzhanchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,601},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>新建文件夹/shuteng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{334,722}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{334,722}}</string>
                <key>sourceSize</key>
                <string>{404,734}</string>
            </dict>
            <key>新建文件夹/shuteng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,210}}</string>
                <key>sourceSize</key>
                <string>{382,210}</string>
            </dict>
            <key>新建文件夹/shuteng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,451},{148,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,65}}</string>
                <key>sourceSize</key>
                <string>{150,65}</string>
            </dict>
            <key>新建文件夹/waiyumaoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,304},{145,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanze.pvr.ccz</string>
            <key>size</key>
            <string>{426,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c4bf1952f94440ff61cf14c23940b12:3179cf88d581445032d46b73db9ddd21:4231433136c6490c5cf41960ff577094$</string>
            <key>textureFileName</key>
            <string>xuanze.pvr.ccz</string>
        </dict>
    </dict>
</plist>
