<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,233}}</string>
                <key>sourceSize</key>
                <string>{488,233}</string>
            </dict>
            <key>c/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,54},{90,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,164}}</string>
                <key>sourceSize</key>
                <string>{90,164}</string>
            </dict>
            <key>c/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{50,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,136}}</string>
                <key>sourceSize</key>
                <string>{50,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c.pvr.ccz</string>
            <key>size</key>
            <string>{630,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d24e5a691a6068f273a5683a83b400:1/1$</string>
            <key>textureFileName</key>
            <string>c.pvr.ccz</string>
        </dict>
    </dict>
</plist>
