<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{491,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,361}}</string>
                <key>sourceSize</key>
                <string>{491,361}</string>
            </dict>
            <key>d/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{528,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,328}}</string>
                <key>sourceSize</key>
                <string>{528,328}</string>
            </dict>
            <key>d/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,512},{472,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,138}}</string>
                <key>sourceSize</key>
                <string>{472,138}</string>
            </dict>
            <key>d/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,508}}</string>
                <key>sourceSize</key>
                <string>{553,508}</string>
            </dict>
            <key>d/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,652},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d.pvr.ccz</string>
            <key>size</key>
            <string>{1006,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da3b407a6599743cb3ec0cccc3f36fbe:1/1$</string>
            <key>textureFileName</key>
            <string>d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
