<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,358}}</string>
                <key>sourceSize</key>
                <string>{501,358}</string>
            </dict>
            <key>g/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,362},{113,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>g/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{118,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{118,106}</string>
            </dict>
            <key>g/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,431},{107,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,13}}</string>
                <key>sourceSize</key>
                <string>{107,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g.pvr.ccz</string>
            <key>size</key>
            <string>{505,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fcf52040b1c66a8602e4983543c467a:1/1$</string>
            <key>textureFileName</key>
            <string>g.pvr.ccz</string>
        </dict>
    </dict>
</plist>
